# Setup

In [40]:
# Import needed libraries
import pandas as pd
import numpy as np
import nflreadpy as nfl

In [41]:
# Set display options
pd.set_option('display.max_rows', 1000)

# Initial data loading

In [42]:
team_stats = nfl.load_team_stats(True)
team_stats = team_stats.to_pandas()
team_stats

,season,week,team,season_type,opponent_team,completions,attempts,passing_yards,passing_tds,passing_interceptions,...,pat_made,pat_att,pat_missed,pat_blocked,pat_pct,gwfg_made,gwfg_att,gwfg_missed,gwfg_blocked,gwfg_distance
0,1999,1,ARI,REG,PHI,25,48,274,1,3,...,1,1,0,0,1.0,1,1,0,0,31
1,1999,1,ATL,REG,MIN,18,31,290,1,0,...,2,2,0,0,1.0,0,0,0,0,0
2,1999,1,BUF,REG,IND,22,42,300,1,2,...,0,0,0,0,NaN,0,0,0,0,0
3,1999,1,CAR,REG,NO,16,32,207,1,1,...,1,1,0,0,1.0,0,0,0,0,0
4,1999,1,CHI,REG,KC,31,47,322,2,0,...,2,2,0,0,1.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14344,2025,13,SEA,REG,MIN,14,26,128,0,0,...,2,2,0,0,1.0,0,0,0,0,0
14345,2025,13,SF,REG,CLE,16,30,168,1,0,...,2,2,0,0,1.0,0,0,0,0,0
14346,2025,13,TB,REG,ARI,18,28,194,1,0,...,2,2,0,0,1.0,0,0,0,0,0
14347,2025,13,TEN,REG,JAX,24,38,141,0,0,...,0,0,0,0,NaN,0,0,0,0,0
14348,2025,13,WAS,REG,DEN,28,50,294,2,1,...,2,2,0,0,1.0,0,0,0,0,0

In [43]:
schedules = nfl.load_schedules(True)
schedules = schedules.to_pandas()
schedules

,game_id,season,game_type,week,gameday,weekday,gametime,away_team,away_score,home_team,...,wind,away_qb_id,home_qb_id,away_qb_name,home_qb_name,away_coach,home_coach,referee,stadium_id,stadium
0,1999_01_MIN_ATL,1999,REG,1,1999-09-12,Sunday,None,MIN,17.0,ATL,...,NaN,00-0003761,00-0002876,Randall Cunningham,Chris Chandler,Dennis Green,Dan Reeves,Gerry Austin,ATL00,Georgia Dome
1,1999_01_KC_CHI,1999,REG,1,1999-09-12,Sunday,None,KC,17.0,CHI,...,12.0,00-0006300,00-0010560,Elvis Grbac,Shane Matthews,Gunther Cunningham,Dick Jauron,Phil Luckett,CHI98,Soldier Field
2,1999_01_PIT_CLE,1999,REG,1,1999-09-12,Sunday,None,PIT,43.0,CLE,...,12.0,00-0015700,00-0004230,Kordell Stewart,Ty Detmer,Bill Cowher,Chris Palmer,Bob McElwee,CLE00,Cleveland Browns Stadium
3,1999_01_OAK_GB,1999,REG,1,1999-09-12,Sunday,None,OAK,24.0,GB,...,10.0,00-0005741,00-0005106,Rich Gannon,Brett Favre,Jon Gruden,Ray Rhodes,Tony Corrente,GNB00,Lambeau Field
4,1999_01_BUF_IND,1999,REG,1,1999-09-12,Sunday,None,BUF,14.0,IND,...,NaN,00-0005363,00-0010346,Doug Flutie,Peyton Manning,Wade Phillips,Jim Mora,Ron Blum,IND99,RCA Dome
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7258,2025_18_DAL_NYG,2025,REG,18,2026-01-04,Sunday,13:00,DAL,NaN,NYG,...,NaN,None,None,None,None,Brian Schottenheimer,Brian Daboll,None,NYC01,MetLife Stadium
7259,2025_18_WAS_PHI,2025,REG,18,2026-01-04,Sunday,13:00,WAS,NaN,PHI,...,NaN,None,None,None,None,Dan Quinn,Nick Sirianni,None,PHI00,Lincoln Financial Field
7260,2025_18_BAL_PIT,2025,REG,18,2026-01-04,Sunday,13:00,BAL,NaN,PIT,...,NaN,None,None,None,None,John Harbaugh,Mike Tomlin,None,PIT00,Acrisure Stadium
7261,2025_18_SEA_SF,2025,REG,18,2026-01-04,Sunday,13:00,SEA,NaN,SF,...,NaN,None,None,None,None,Mike Macdonald,Kyle Shanahan,None,SFO01,Levi's Stadium
7262,2025_18_CAR_TB,2025,REG,18,2026-01-04,Sunday,13:00,CAR,NaN,TB,...,NaN,None,None,None,None,Dave Canales,Todd Bowles,None,TAM00,Raymond James Stadium

# Preprocessing

In [44]:
def preprocess_team_data(df):
    '''
    -Preprocesses/cleans up the raw df from nfl.load_team_stats
    -Adds features for previous game, current season, and previous 
        season stats for both team and opponent

    Parameters:
    df - original df returned from nfl.load_team_stats

    Returns:
    df - data in clean form
    '''

    # # # # # # # # #
    # Preprocessing #
    # # # # # # # # #

    df = df.query('season >= 2007').copy()

    # Duplicate columns
    df = df.drop(['receiving_tds', 
                  'receiving_first_downs', 
                  'receiving_2pt_conversions', 
                  'receiving_air_yards', 
                  'receptions',
                  'receiving_yards'], axis=1)
    # Irrelevant columns
    df = df.drop(['fg_made_list',
                  'fg_missed_list',
                  'fg_blocked_list'], axis=1)
    
    # Define the points_scored column based on TDs, PATs, FGs, and 2pt conversions
    df['points_scored'] = (6 * (df['passing_tds'] + 
                                df['rushing_tds'] +
                                df['special_teams_tds'] +
                                df['def_tds']) + 
                           3 * df['fg_made'] +
                           2 * (df['passing_2pt_conversions'] +
                                df['rushing_2pt_conversions']) +
                           1 * df['pat_made'])
    
    # Add opponent_points_scored
    opp_points_scored_df = df[['season', 'week', 'team', 'points_scored']]
    opp_points_scored_df = opp_points_scored_df.rename(columns={'team': 'opponent_team', 
                                                                'points_scored': 'opponent_points_scored'})
    df = df.merge(opp_points_scored_df, on=['season', 'week', 'opponent_team'], how='inner')

    # target variable: 1 if win, 0.5 if draw, 0 is loss
    df['outcome'] = (np.sign(df['points_scored'] - df['opponent_points_scored']) / 2) + 0.5 
    
    # Make sure there's no duplicate (season, week, team) combinations
    if df.duplicated(subset=["season", "week", "team"]).any():
        raise ValueError('Error: duplicate games')

    # # # # # # # # #
    # Add Features  #
    # # # # # # # # #
    
    # Add previous game features
    cols = df.columns
    keep_cols = ['season', 'week', 'team', 'season_type', 'opponent_team', 'points_scored']
    prev_cols = [col for col in cols if col not in keep_cols] + ['points_scored']

    # Shift all the stats so that we only know last game's stats
    df = df.sort_values(by=['team', 'season', 'week']).reset_index(drop=True)
    prev_game_df = df.groupby('team')[prev_cols + ['week']].shift(1).add_prefix('previous_game_')
    df = pd.concat([df, prev_game_df], axis=1)

    # Add opponent prev_game info
    df = df.sort_values(by=['team', 'season', 'week']).reset_index(drop=True)
    opp_prev_game_df = df[['team', 'season', 'week'] + list(prev_game_df.columns)].copy()
    opp_prev_game_df = opp_prev_game_df.rename(columns={'team': 'opponent_team'})
    opp_prev_game_df = opp_prev_game_df.rename(columns=lambda x: x.replace('previous_game_', 'opponent_previous_game_') if x.startswith('previous_game_') else x)
    df = df.merge(opp_prev_game_df, on=['season', 'week', 'opponent_team'], how='inner')

    # Add current season averages for team and opponent
    # Team
    df = df.sort_values(by=['team', 'season', 'week']).reset_index(drop=True)
    df_copy = df.copy()
    team_season_avg_df = (df_copy
                          .groupby(['team', 'season'])[prev_cols]
                          .expanding()
                          .mean()
                          .shift(1)
                          .reset_index(drop=True)
                          .add_prefix('season_average_'))
    df.loc[df_copy.index, team_season_avg_df.columns] = team_season_avg_df

    # Opponent
    df = df.sort_values(by=['team', 'season', 'week']).reset_index(drop=True)
    df_copy = df.copy()
    df_copy['og_index'] = df_copy.index
    opp_season_avg_df = (df_copy
                        .groupby(['team', 'season'])[prev_cols]
                        .expanding()
                        .mean()
                        .shift(1)
                        .reset_index()).rename(columns={'team': 'opponent_team'})
    opp_season_avg_df = opp_season_avg_df.rename(columns=lambda x: ('opponent_season_average_'+x) if x in prev_cols else x)
    
    # remerge based on og_index to get week back
    opp_season_avg_df = opp_season_avg_df.merge(df_copy[['og_index', 'week']], 
                                                left_on=['level_2'],
                                                right_on=['og_index'],
                                                how='inner')
    opp_season_avg_df = opp_season_avg_df.drop(columns=['og_index', 'level_2'])
    df_copy = df_copy.drop(columns=['og_index'])

    df = df_copy.merge(opp_season_avg_df, 
                       on=['opponent_team', 'season', 'week'],
                       how='inner')

    # Add previous season averages for team and opponent
    # Team
    df = df.sort_values(by=['team', 'season', 'week']).reset_index(drop=True)
    team_prev_season_avg_df = (df
                               .groupby(['team', 'season'])[prev_cols]
                               .mean()
                               .groupby('team')
                               .shift(1)
                               .reset_index())
    team_prev_season_avg_df = team_prev_season_avg_df.rename(columns=lambda x: ('previous_season_average_'+x) if x in prev_cols else x)    
    df = df.merge(team_prev_season_avg_df, on=['team', 'season'], how='inner')
    
    # Opponent
    opp_prev_season_avg_df = (df_copy
                        .groupby(['team', 'season'])[prev_cols]
                        .mean()
                        .groupby('team')
                        .shift(1)
                        .reset_index()).rename(columns={'team': 'opponent_team'})
    opp_prev_season_avg_df = opp_prev_season_avg_df.rename(columns=lambda x: ('opponent_previous_season_average_'+x) if x in prev_cols else x)
    df = df.merge(opp_prev_season_avg_df, on=['opponent_team', 'season'], how='inner')

    # Add bye week info
    df['had_bye_week_last'] = np.where(df['week'] - df['previous_game_week'] == 1, 0, 1)
    df['opponent_had_bye_week_last'] = np.where(df['week'] - df['opponent_previous_game_week'] == 1, 0, 1)
    df = df.drop(columns=['previous_game_week', 'opponent_previous_game_week'])

    # # # # # # # # 
    # Handle NaNs #
    # # # # # # # # 
    df = df.query('season > 2007').copy()
    for c in ['fg_long', 'fg_pct', 'pat_pct']:
        # Fill in season_average vars
        last = f'season_average_{c}'
        new = f'previous_season_average_{c}'
        df[last] = df[last].fillna(df[new])

        # Fill in opponent_season_average vars
        last = f'opponent_season_average_{c}'
        new = f'opponent_previous_season_average_{c}'
        df[last] = df[last].fillna(df[new])

        # Fill in previous_game vars
        last = f'previous_game_{c}'
        new = f'season_average_{c}'
        df[last] = df[last].fillna(df[new])

        # Fill in opponent_previous_game vars
        last = f'opponent_previous_game_{c}'
        new = f'opponent_season_average_{c}'
        df[last] = df[last].fillna(df[new])


    # Drop same game stats - would make model omniscient
    df['y'] = df['outcome']
    drop_vars = prev_cols + ['opponent_points_scored']
    df = df.drop(columns=drop_vars)
    df = df.rename(columns={'y': 'outcome'})


    # # # # # # # # #
    # Check Output  #
    # # # # # # # # #
    if df.isna().sum().sum() != 0:
        raise ValueError("NaN Handling didn't work - still some NaNs left")
    
    df = df.sort_values(by=['season', 'week', 'team']).reset_index(drop=True)
    
    return df

In [50]:
def preprocess_schedule_data(df):
    '''
    -Preprocesses/cleans up the raw df from nfl.load_schedules
    -Only keeps sportbook information

    Parameters:
    df - original df returned from nfl.load_schedules

    Returns:
    df - data in clean form ready to be merged with our main df
    '''

    # # # # # # # # #
    # Preprocessing #
    # # # # # # # # #

    # When odds data started getting collected for every game
    df = df.query('season > 2009 or (season == 2009 and week >= 8)').copy().reset_index(drop=True)
    df = df[['season', 'week', 'home_team', 'away_team', 'home_moneyline', 'away_moneyline']]
    df.rename(columns={'home_team': 'team', 'away_team': 'opponent_team'}, inplace=True) # To be able to merge with previous df


    # # # # # # # # 
    # Handle NaNs #
    # # # # # # # # 

    # There is only 1 NaN in the data (outside of games that haven't happened yet)
    # Not sure why the value doesn't exist, but I manually replaced it by searching 
    # up what the value was supposed to be
    df.loc[2080, 'home_moneyline'] = '-600'
    df.loc[2080, 'away_moneyline'] = '510'
    

    # # # # # # # # #
    # Check Output  #
    # # # # # # # # #
    if df.query('season < 2025').isna().sum().sum() != 0:
        raise ValueError("NaN Handling didn't work - still some NaNs left")

    df = df.dropna().reset_index(drop=True) # Drop NaNs left in 2025 - games that didn't happen yet

    # # # # # # # # #
    # Convert Odds  #
    # # # # # # # # #

    # American -> European odds
    df['home_moneyline'] = df['home_moneyline'].astype(float)
    df['away_moneyline'] = df['away_moneyline'].astype(float)

    df['home_moneyline'] = df['home_moneyline'].apply(
        lambda x: (x/100 + 1) if x > 0 else (100/abs(x) + 1)
    )
    df['away_moneyline'] = df['away_moneyline'].apply(
        lambda x: (x/100 + 1) if x > 0 else (100/abs(x) + 1)
    )

    df['home_probability'] = 1 / df['home_moneyline']
    df['away_probability'] = 1 / df['away_moneyline']

    df = df.drop(columns=['home_moneyline', 'away_moneyline'])
    
    df = df.sort_values(by=['season', 'week', 'team']).reset_index(drop=True)
    
    return df

In [51]:
game_df = preprocess_team_data(team_stats)
odds_df = preprocess_schedule_data(schedules)

In [52]:
game_df

,season,week,team,season_type,opponent_team,previous_game_completions,previous_game_attempts,previous_game_passing_yards,previous_game_passing_tds,previous_game_passing_interceptions,...,opponent_previous_season_average_gwfg_att,opponent_previous_season_average_gwfg_missed,opponent_previous_season_average_gwfg_blocked,opponent_previous_season_average_gwfg_distance,opponent_previous_season_average_opponent_points_scored,opponent_previous_season_average_outcome,opponent_previous_season_average_points_scored,had_bye_week_last,opponent_had_bye_week_last,outcome
0,2008,1,ARI,REG,SF,23.0,39.0,300.0,3.0,2.0,...,0.062500,0.0625,0.000000,3.250000,22.375000,0.281250,13.187500,1,1,1.0
1,2008,1,ATL,REG,DET,17.0,27.0,251.0,4.0,0.0,...,0.062500,0.0000,0.000000,2.312500,27.250000,0.437500,21.125000,1,1,1.0
2,2008,1,BAL,REG,CIN,16.0,27.0,171.0,1.0,0.0,...,0.000000,0.0000,0.000000,0.000000,24.062500,0.437500,22.875000,1,1,1.0
3,2008,1,BUF,REG,SEA,16.0,30.0,133.0,0.0,0.0,...,0.000000,0.0000,0.000000,0.000000,18.722222,0.611111,24.444444,1,1,1.0
4,2008,1,CAR,REG,LAC,15.0,24.0,174.0,2.0,1.0,...,0.000000,0.0000,0.000000,0.000000,17.000000,0.684211,23.736842,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9607,2025,13,SEA,REG,MIN,16.0,26.0,244.0,2.0,0.0,...,0.055556,0.0000,0.000000,1.611111,19.166667,0.777778,24.166667,0,0,1.0
9608,2025,13,SF,REG,CLE,23.0,32.0,193.0,1.0,3.0,...,0.000000,0.0000,0.000000,0.000000,25.588235,0.176471,14.705882,0,0,1.0
9609,2025,13,TB,REG,ARI,17.0,34.0,103.0,1.0,2.0,...,0.117647,0.0000,0.000000,3.882353,22.294118,0.411765,22.588235,0,0,1.0
9610,2025,13,TEN,REG,JAX,28.0,42.0,256.0,1.0,0.0,...,0.058824,0.0000,0.000000,2.882353,25.470588,0.235294,18.470588,0,0,0.0
9611,2025,13,WAS,REG,DEN,20.0,30.0,213.0,1.0,1.0,...,0.055556,0.0000,0.055556,1.944444,19.000000,0.555556,23.111111,1,1,0.0

In [53]:
odds_df

      season  week team opponent_team  home_probability  away_probability
0       2009     8  ARI           CAR          0.816514          0.206186
1       2009     8  BAL           DEN          0.687500          0.340136
2       2009     8  BUF           HOU          0.367647          0.655172
3       2009     8  CHI           CLE          0.857143          0.175439
4       2009     8  DAL           SEA          0.833333          0.192308
...      ...   ...  ...           ...               ...               ...
4460    2025    15  PHI            LV          0.904762          0.137931
4461    2025    15  PIT           MIA          0.618321          0.423729
4462    2025    15  SEA           IND          0.649123          0.393701
4463    2025    15   SF           TEN          0.904762          0.137931
4464    2025    15   TB           ATL          0.714286          0.327869

[4465 rows x 6 columns]

# Save data

In [54]:
game_df.to_csv('../data/game_data.csv', index=False)
odds_df.to_csv('../data/odds_data.csv', index=False)